<!doctype html>
<html ng-app='mariposa-training'>

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>
    Mariposa Training
  </title>

  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Bootstrap -->
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

  <!-- Angular -->
  <base href="/">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-sanitize.js"></script>

  <script>
    var PLAYER_URL = "<%= @player %>";
    var SITE_URL = "<%= @site %>";
    var API_URL = "<%= @api %>";
  </script>

  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body ng-controller="ApplicationCtrl">

  <!--  <div id="browserMessage">
      <p>Your browser is having difficulty accessing our site. Please download one of the following browsers to access our site.  </p>
      <p><a href="https://www.google.com/chrome/">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/">Mozilla Firefox</a> </p>
      <p>The issue will be resolved shortly. Thanks for your patience. </p>
      <p>Sincerely,<br>
        The Mariposa Training team</p>
    </div> -->
  
    <div class="angular-inside" ng-if="$state.current.name == 'player' || $state.current.name=='playerSucceed'">
      <!-- Player -->
      <div ui-view></div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name == 'test' || $state.current.name=='testSucceed'">
      <!-- Test -->
      <div ui-view></div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name == 'homeSucceed' || $state.current.name=='testResultSucceed'" id="succeed">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header width100-p">
            <a class="navbar-brand font-x-large">
              <%= image_tag "logoSucceed.png", class: "logo img-responsive pointer-cursor" %>
            </a>
            <div class="display-inline-block pull-right padding-lg">
                Need Help? Call 503-766-6063 ext. 063
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div ui-view></div>
      </div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name.indexOf('Succeed') == -1 && $state.current.name != 'player' && $state.current.name != 'test'">
      <!-- Public site -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand font-x-large" ng-click="homeLinkClicked()">
              <%= image_tag "logo.png", class: "logo img-responsive pointer-cursor" %>
            </a>
            <div class="display-inline-block float-right">
              <div ng-show="Session.userId != null" class="visible-xs display-inline-block float-right text-right padding-md">
                <div ng-click="reloadPage()" class="pointer-cursor">{{Session.user.ScreenName}}</div>
                <div>{{Session.member.FacilityName}}</div>
                <a ng-click="signOut()" class="padding-md rgba-gray" id="signOutRgba">Sign Out</a>
              </div>
              <button ng-show="Session.userId == null" class="btn btn-raised bg-active-btn white visible-xs btn-sm pull-right margin-md-right" data-toggle="modal" data-target="#sign-dialog">Sign In
                <div class="ripple-container"></div>
              </button>
              <div ng-show="Cart.getTotalCount() > 0" class="padding-md visible-xs display-inline-block float-right text-left">
                <div>Cart: <strong>{{Cart.getTotalCount()}}</strong></div>
                <a ui-sref="cart" class="padding-md rgba-gray" id="checkoutRgba">CHECKOUT</a>
              </div>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav padding-50-left">
              <li class="hidden-sm hidden-xs width250 padding-md">
                Need Help? Call 1-888-852-3888 or
                <a href="mailto:support@mariposatraining.com">support@mariposatraining.com</a>
              </li>
              <li ng-show="Cart.getTotalCount() > 0" class="padding-md margin-md-left" ng-mouseover="cartDialogVisible = true" ng-mouseleave="cartDialogVisible = false">
                <div>Cart: <strong>{{Cart.getTotalCount()}}</strong></div>
                <a ui-sref="cart" class="padding-md">CHECKOUT</a>
              </li>
            </ul>
            <ul ng-show="Session.userId == null" class="nav navbar-nav navbar-right text-center">
              <button class="btn btn-raised bg-active-btn white btn-lg" data-toggle="modal" data-target="#sign-dialog">Sign In
                <div class="ripple-container"></div>
              </button>
            </ul>
            <ul ng-show="Session.userId != null" class="nav navbar-nav navbar-right text-right">
              <li>
                <div ng-click="reloadPage()" class="pointer-cursor">{{Session.user.ScreenName}}</div>
                <div>{{Session.member.FacilityName}}</div>
                <a ng-click="signOut()" class="padding-md pointer-cursor">Sign Out</a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container">

        <div class="navbar bg-darkblue">
          <div class="container-fluid">
            <ul class="nav navbar-nav nav-justified font-large">
              <li ng-if="Session.userId == null" ng-class="{'active': $state.current.name == 'home'}"><a ui-sref="home">Home</a></li>
              <li ng-if="Session.userId != null" ng-class="{'active': $state.current.name == 'invoices' || $state.current.name == 'personalInfo' || $state.current.name.indexOf('account') != -1}"><a ui-sref="accountNew">My Account</a></li>
              <li ng-if="Session.userId != null && Session.userRoles.indexOf(USER_ROLES.manager) != -1 && Session.member.FacilitySoid != NO_ORGANIZATION_SOID" ng-class="{'active': $state.current.name == 'students' || $state.current.name == 'courseAssignments'}"><a ui-sref="students">Manager</a></li>
              <li ng-class="{'active': $state.current.name == 'classes' || $state.current.name == 'certifications' || $state.current.name == 'bundles'}"><a ui-sref="classes">Classes & Certifications</a></li>
              <li ng-class="{'active': $state.current.name == 'longtermIndividual' || $state.current.name == 'longtermFacilities'}"><a ui-sref="longtermIndividual">Long Term Care</a></li>
              <li ng-class="{'active': $state.current.name == 'homecareIndividual' || $state.current.name == 'homecareFacilities'}"><a ui-sref="homecareIndividual">Home Healthcare</a></li>
              <li ng-class="{'active': $state.current.name == 'blog'}"><a href="http://blog.mariposatraining.com/">Blog</a></li>
            </ul>
          </div>
        </div>

        <div ng-show="cartDialogVisible" id="cartDialog" ng-mouseover="cartDialogVisible = true" ng-mouseleave="cartDialogVisible = false">
          <div ng-include="'cart/cartDialog.html'"></div>
        </div>

        <div ui-view></div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-center">
            <div class="col-sm-1" style="height: 10px;"></div>
            <div class="col-sm-2"><a ui-sref="about" class="white">About Us</a></div>
            <div class="col-sm-2"><a ui-sref="policy" class="white">Privacy Policy</a></div>
            <div class="col-sm-2"><a ui-sref="terms" class="white">Terms & Conditions</a></div>
            <div class="col-sm-2"><a ui-sref="faq" class="white">FAQ</a></div>
            <div class="col-sm-2"><a ui-sref="contact" class="white">Contact Us</a></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </footer>

      <!-- Sign in / Sign up dialog -->
      <div id="sign-dialog" class="modal fade in" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="row">
              <div class="col-sm-5">
                <div class="modal-body">
                  <div ng-include="'main/login.html'"></div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="modal-body">
                  <div ng-include="'main/register.html'"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 59.6563px; top: 12px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div></div></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  
  <script>
    $.material.init();
    
    function checkBrowser() { 
      if((navigator.userAgent.indexOf("Opera") != -1 || navigator.userAgent.indexOf("OPR")) != -1 ){
          var BROWSER_NAME = "Opera";
          document.getElementById("browserMessage").style.display="none";
      }else if(navigator.userAgent.indexOf("Chrome") != -1 ){
          var BROWSER_NAME = "Chrome";
          document.getElementById("browserMessage").style.display="none";
      }else if(navigator.userAgent.indexOf("Safari") != -1){
          var BROWSER_NAME = "Safari";
          document.getElementById("browserMessage").style.display="none";
      }else if(navigator.userAgent.indexOf("Firefox") != -1 ){
          var BROWSER_NAME = "Firefox";
          document.getElementById("browserMessage").style.display="none";
      }else if((navigator.userAgent.indexOf("MSIE") != -1 ) || (!!document.documentMode == true )){ //IF IE > 10{
          var BROWSER_NAME = "IE";
          var divs = document.querySelectorAll(".angular-inside");
          if(divs)
            for(var i = 0; i < divs.length; i++){
              divs[i].style.display = "none";
            }
      }
    }

    $(function() {
      
    //  checkBrowser();

      $('[data-toggle=tooltip]').hover(function() {
        // on mouseenter
        $(this).tooltip('show');
      }, function() {
        // on mouseleave
        $(this).tooltip('hide');
      });
      
      var checkExistEventbrite = setInterval(function() {
        if($('.Toggle.Collapsed').length) {
          $(".Toggle.Collapsed").click(function() {
            $(this).find("i").toggleClass("down");
            $(this).parent().parent().find(".Description.TogglePanel").toggleClass("visible");
          });
          clearInterval(checkExistEventbrite);
        }
      }, 100);

    });
  </script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_live_SHVO9XybGJCt3Pf1mR9vGbip');
  </script>

</body>

</html>
