<!doctype html>
<html ng-app='mariposa-training' ng-controller="ApplicationCtrl">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=11">
  <meta charset="utf-8">
  <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

  <title>Long Term Care Quality Training & Education - Mariposa</title>
  <meta name="description" content="Mariposa Training is a leading provider of internet-based senior and geriatric healthcare training for administrators, nurses and staff caring for the elderly.">

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
    ga('create', 'UA-24823004-1', 'auto');
  </script>
  <!-- End Google Analytics -->

  <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

  <!-- Material Design fonts -->
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Font Awesome -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  
  <!-- Angular -->
  <base href="/">
  <script>
    var BACKEND_URL= "<%= BACKEND_URL %>";
  </script>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
</head>
<body>
  
    <div class="angular-inside" ng-if="$state.current.name == 'player' || $state.current.name=='playerSucceed'">
      <!-- Player -->
      <div ui-view></div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name == 'test' || $state.current.name=='testSucceed'">
      <!-- Test -->
      <div ui-view></div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name == 'homeSucceed' || $state.current.name=='testResultSucceed'" id="succeed">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header width100-p">
            <a class="navbar-brand font-x-large">
              <%= image_tag "logoSucceed.png", class: "logo img-responsive pointer-cursor" %>
            </a>
            <div class="display-inline-block pull-right padding-lg">
                Need Help? Call 503-766-6063 ext. 063
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div ui-view></div>
      </div>
    </div>
    <div ng-if="$state.current.name=='lgbtq'">
      <div ui-view></div>
    </div>
    <div class="angular-inside" ng-if="$state.current.name.indexOf('Succeed') == -1 && $state.current.name != 'player' && $state.current.name != 'test' && $state.current.name != 'lgbtq'">
      <!-- Public site -->
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand font-x-large" ng-click="homeLinkClicked()">
              <%= image_tag "transparentlogo.png", class: "logo img-responsive pointer-cursor" %>
            </a>
            <div class="display-inline-block float-right">
              <div ng-show="Session.userId != null" class="visible-xs display-inline-block float-right text-right padding-md">
                <div ng-click="reloadPage()" class="pointer-cursor">{{Session.member.ScreenName}}</div>
                <div>{{Session.member.FacilityName}}</div>
                <a ng-click="signOut()" class="padding-md rgba-gray" id="signOutRgba">Sign Out</a>
              </div>
              <button ng-show="Session.userId == null" class="btn btn-raised bg-active-btn white visible-xs btn-sm pull-right margin-md-right" data-toggle="modal" data-target="#sign-dialog">Sign In
                <div class="ripple-container"></div>
              </button>
              <div ng-show="Cart.getTotalCount() > 0" class="padding-md visible-xs display-inline-block float-right text-left">
                <div>Cart: <strong>{{Cart.getTotalCount()}}</strong></div>
                <a ui-sref="cart" class="padding-md rgba-gray" id="checkoutRgba">CHECKOUT <i class="material-icons">shopping_cart</i></a>
              </div>
            </div>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav padding-50-left">
              <li class="hidden-sm hidden-xs width250 padding-md">
                Need Help? Call 1-888-852-3888 or
                <a href="mailto:support@mariposatraining.com">support@mariposatraining.com</a>
              </li>
              <li ng-show="Cart.getTotalCount() > 0" class="padding-md margin-md-left" ng-mouseover="cartDialogVisible = true" ng-mouseleave="cartDialogVisible = false">
                <div>Cart: <strong>{{Cart.getTotalCount()}}</strong></div>
                <a ui-sref="cart" class="padding-md">CHECKOUT <i class="material-icons">shopping_cart</i></a>
              </li>
            </ul>
            <ul ng-show="Session.userId == null" class="nav navbar-nav navbar-right text-center">
              <button class="btn btn-raised bg-active-btn white btn-lg" data-toggle="modal" data-target="#sign-dialog">Sign In
                <div class="ripple-container"></div>
              </button>
            </ul>
            <ul ng-show="Session.userId != null" class="nav navbar-nav navbar-right text-right">
              <li>
                <div ng-click="reloadPage()" class="pointer-cursor">{{Session.member.ScreenName}}</div>
                <div>{{Session.member.FacilityName}}</div>
                <a ng-click="signOut()" class="padding-md pointer-cursor">Sign Out</a>
              </li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
      </nav>

      <div class="container">

        <div class="navbar bg-darkblue">
          <div class="container-fluid">
            <ul class="nav navbar-nav nav-justified font-large">
              <li ng-if="Session.userId == null" ng-class="{'active': $state.current.name == 'home'}"><a ui-sref="home">Home</a></li>
              <li ng-if="Session.userId != null" ng-class="{'active': $state.current.name == 'invoices' || $state.current.name == 'personalInfo' || $state.current.name.indexOf('account') != -1}"><a class="pointer-cursor" ng-click="Account.goToDefaultTab()">My Account</a></li>
              <li ng-if="Session.userId != null && Session.userRoles.indexOf(USER_ROLES.manager) != -1 && Session.member.FacilitySoid != NO_ORGANIZATION_SOID" ng-class="{'active': $state.current.name == 'students' || $state.current.name == 'courseAssignments'}"><a ui-sref="students">Manager</a></li>
              <li ng-class="{'active': $state.current.name == 'classes' || $state.current.name == 'certifications' || $state.current.name == 'bundles'}"><a ui-sref="classes">Classes & Certifications</a></li>
              <li ng-class="{'active': $state.current.name == 'longtermIndividual' || $state.current.name == 'longtermFacilities'}"><a ui-sref="longtermIndividual">Long Term Care</a></li>
              <li ng-class="{'active': $state.current.name == 'homecareIndividual' || $state.current.name == 'homecareFacilities'}"><a ui-sref="homecareIndividual">Home Healthcare</a></li>
              <li ng-class="{'active': $state.current.name == 'whitepapers'}"><a ui-sref="whitepapers">Resources</a></li>
              <li ng-class="{'active': $state.current.name == 'blog'}"><a href="http://blog.mariposatraining.com/">Blog</a></li>
            </ul>
          </div>
        </div>

        <div ng-show="cartDialogVisible" id="cartDialog" ng-mouseover="cartDialogVisible = true" ng-mouseleave="cartDialogVisible = false">
          <div ng-include="'cart/cartDialog.html'"></div>
        </div>

        <div ui-view></div>
      </div>

      <footer class="footer">
        <div class="container-fluid">
          <div class="row text-center">
            <div class="col-sm-1" style="height: 10px;"></div>
            <div class="col-sm-2"><a ui-sref="about" class="white">About Us</a></div>
            <div class="col-sm-2"><a ui-sref="policy" class="white">Privacy Policy</a></div>
            <div class="col-sm-2"><a ui-sref="terms" class="white">Terms & Conditions</a></div>
            <div class="col-sm-2"><a ui-sref="faq" class="white">FAQ</a></div>
            <div class="col-sm-2"><a ui-sref="contact" class="white">Contact Us</a></div>
            <div class="col-sm-1"></div>
          </div>
        </div>
      </footer>

      <!-- Sign in / Sign up dialog -->
      <div id="sign-dialog" class="modal fade in" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="row">
              <div class="col-sm-5">
                <div class="modal-body">
                  <div ng-include="'main/login.html'"></div>
                </div>
              </div>
              <div class="col-sm-7">
                <div class="modal-body">
                  <div ng-include="'main/register.html'"></div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close<div class="ripple-container"><div class="ripple ripple-on ripple-out" style="left: 59.6563px; top: 12px; transform: scale(10.875); background-color: rgb(0, 150, 136);"></div></div></button>
            </div>
          </div>
        </div>
      </div>

    </div>
  <script>
    $.material.init();

    $(function() {
      
      $('#submitInfoBtn').click(function(){
    		ga('send','event','News Letter','Submit Information','Homepage Newsletter Signup');	
    	});
    	
      window.setTimeout(function(){
        $('#carousel').carousel();
      }, 2000);
      
      var checkExistEventbrite = setInterval(function() {
        if($('.Toggle.Collapsed').length) {
          $(".Toggle.Collapsed").click(function() {
            $(this).find("i").toggleClass("down");
            $(this).parent().parent().find(".Description.TogglePanel").toggleClass("visible");
          });
          clearInterval(checkExistEventbrite);
        }
      }, 100);
      
    });
  </script>
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
    Stripe.setPublishableKey('pk_live_SHVO9XybGJCt3Pf1mR9vGbip');
  </script>

</body>

</html>
