<div class="row margin-40-bottom">
  <div class="col-md-12">
    <div class="well">
      <h3 class="bold margin-none-bottom">Certificate of training as a
          <div class="margin-lg-top-bottom text-right display-inline-block float-right">
            <%= image_tag "google-plus-grey.png", class: "sn-logo" %>
            <%= image_tag "facebook-4-xxl.png", class: "sn-logo" %>
            <%= image_tag "twitter.jpg", class: "sn-logo" %>
            <%= image_tag "pinterest-4-xxl.png", class: "sn-logo" %>
          </div>
      </h3>
      <h2 class="bold">Dementia Care Provider</h2>
      <div class="row margin-lg-top">
        <div class="col-sm-7" id="description-dementia-care">
          <%= image_tag "dementia.png", class: "landing-page-image" %>
          <p class="margin-28-top bold font-larger">Mariposa Training Is Proud To Offer The Following Certificates & CEs:</p>
          <p class="bold font-larger">Level 1: Certificates of Training as Dementia Care Provider</p>
          <p class="bold font-larger">Level 2: Advanced Certificates of Training as Dementia Care Provider</p>
          <div class="gray italic bold font-larger margin-lg-top-bottom">Endorsed By And Developed In Partnership With The</div>
          <%= image_tag "alz_logo.jpg", class: "img-responsive" %>
        </div>
        <div class="col-sm-5">
          <div landing-page-subscription></div>
        </div>
        <div class="col-sm-12">
          <hr>
        </div>
        <div class="col-sm-12 text-center">
          Do you have a question or feedback? <a href="">Let us know</a>
        </div>
      </div>
    </div>
  </div>
</div>